.container {
  border: 0.5rem solid var(--green-300);
  border-radius: 10px;
  height: 30rem;
  margin: auto;
  outline: 10px solid var(--white-100);
  width: 21.875rem;
}

.titleCard {
  color: var(--white-200);
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-right: 0.5rem;
  text-align: center;
}

.description {
  text-align: center;
}

.containerImg {
  width: 100%;
}

.containerImg img {
  height: 19.5rem;
  object-fit: cover;
  width: 100%;
}

.rareCard {
  display: none;
}

.attributes {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
}

.containerAttr {
  align-items: center;
  background: var(--green-300);
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.nameAttr {
  margin-left: 0.2rem;
}

.valueAttr {
  background: var(--white-100);
  color: var(--green-300);
  padding: 2px;
}
