/* stylelint-disable custom-property-empty-line-before */
:root {
  --white-100: white;
  --white-200: #fafafa;

  --green-300: #036b52;
  --green-500: #023031;

  --blue-600: #003be5;

  --gray-600: #6b7588;
  --gray-700: #3d495c;
  --gray-800: #444955;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, textarea, button {

  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Nunito' , sans-serif;
  font-size: 1rem;
  font-weight: 400;

}

